@model IEnumerable<BookStore.Data.Models.Order>

@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div class="row row-bordered table-hover table-striped">
    <div class="col-lg-15">
        <div class="card">
                <div class="active-member">
                    <div class="table-responsive">
                        <table class="table table-xs mb-0">
                            <thead>
                                <tr>
                                    <th>Order</th>
                                    <th>Customers</th>
                                    <th>Product</th>
                                    <th>Country</th>
                                    <th>Phone</th>
                                    <th>Price</th>
                                    <th>Count</th>
                                    <th>Status</th>
                                    <th>Payment Method</th>
                                    <th>CreatedOn</th>
                                    <th>Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <span>@item.OrderNumber</span>
                                        </td>
                                        <td>@item.FullName @item.Email</td>
                                        <td>@item.Book.Title</td>
                                        <td>
                                            <span>Bulgaria</span>
                                        </td>
                                        <td>
                                            <span>@item.Number</span>
                                        </td>
                                        <td>
                                            <span>@item.Price</span>
                                        </td>
                                        <td>
                                            <span>@item.Count</span>
                                        </td>
                                        <td>
                                            <div>
                                                @if (item.Status == "shipped")
                                                {
                                                    <div class="progress" style="height: 18px">
                                                        <div class="progress-bar bg-success" style="width: 100%">shipped</div>
                                                    </div>
                                                }
                                                @if (item.Status == "rejected")
                                                {
                                                    <div class="progress" style="height: 15px">
                                                        <div class="progress-bar bg-danger" style="width: 50%"></div>
                                                    </div>
                                                }
                                                @if (item.Status == "processing")
                                                {
                                                    <div class="progress" style="height: 15px">
                                                        <div class="progress-bar bg-primary" style="width: 50%"></div>
                                                    </div>
                                                }
                                            </div>
                                        </td>
                                        <td><i class="fa fa-circle-o text-success  mr-2"></i> @item.StatusPayment</td>
                                        <td>
                                            <span>@item.CreatedOn</span>
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id">Lock</a> |
                                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</div>
