@model IEnumerable<BookStore.Data.Models.Book>

@{
    ViewData["Title"] = "Books";
}

@{
    bool disable1 = true;
    string disable2 = "disable";    // or string disable2 = null;
}

<h1>Books</h1>

<p>
    <a asp-action="Create" class="btn btn-primary btn-dark">Create New</a>
</p>

<div class="table-responsive">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col"> @Html.DisplayNameFor(model => model.Title)            </th>
                <th scope="col"> @Html.DisplayNameFor(model => model.Author)           </th>
                <th scope="col"> @Html.DisplayNameFor(model => model.Quantity)         </th>
                <th scope="col"> @Html.DisplayNameFor(model => model.Price)            </th>
                <th scope="col"> @Html.DisplayNameFor(model => model.PromoPrice)       </th>
                <th scope="col"> @Html.DisplayNameFor(model => model.Pages)            </th>
                <th scope="col"> @Html.DisplayNameFor(model => model.Language)         </th>
                <th scope="col"> @Html.DisplayNameFor(model => model.Cover)            </th>
                <th scope="col"> @Html.DisplayNameFor(model => model.Year)             </th>
                <th scope="col"> @Html.DisplayNameFor(model => model.DateOfPublication)</th>
                <th scope="col"> @Html.DisplayNameFor(model => model.UniqueIdBook)     </th>
                <th scope="col"> @Html.DisplayNameFor(model => model.ISBN)             </th>
                <th scope="col"> @Html.DisplayNameFor(model => model.IsOnPromotional)  </th>
                <th scope="col"> @Html.DisplayNameFor(model => model.Image)            </th>
                <th scope="col"> @Html.DisplayNameFor(model => model.Category)         </th>
                <th scope="col"> @Html.DisplayNameFor(model => model.CreatedByUser)    </th>
                <th scope="col"> @Html.DisplayNameFor(model => model.IsDeleted)        </th>
                <th scope="col"> @Html.DisplayNameFor(model => model.DeletedOn)        </th>
                <th scope="col"> @Html.DisplayNameFor(model => model.CreatedOn)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.ModifiedOn)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PromoPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pages)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cover)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Language)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfPublication)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UniqueIdBook)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ISBN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsOnPromotional)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Image.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedByUser.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDeleted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeletedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        <a type="button" class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                        <a type="button" class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                        @if (!item.IsDeleted)
                        {
                            <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>