@model BookStore.Web.ViewModels.Books.SingleBookViewModel

@{
    this.ViewData["Title"] = @Model.Title;
}

<div class="container">
    <div class="row">
        <div class="col-12 text-center"><h1>@Model.Title</h1></div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-xs-12 col-sm-12" style="background-color:#fff;">
            <img src="@Model.ImageImageUrl" class="img-thumbnail" style="border:0px;" alt="@Model.Title">
        </div>
        <div class="col-col-lg-8 col-xs-12 col-sm-12">
            <table class="table table-hover">
                <tr>
                    <td>ISBN</td>
                    <td>@Model.ISBN</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>@Model.Price €</td>
                </tr>
                <tr>
                    <td>Categories</td>
                    <td>@Model.CategoryType</td>
                </tr>
                <tr>
                    <td>Author</td>
                    <td>@Model.Author</td>
                </tr>
                <tr>
                    <td>Language</td>
                    <td>@Model.Language</td>
                </tr>
                <tr>
                    <td>Year</td>
                    <td>@Model.Year</td>
                </tr>
                <tr>
                    <td>Publish date</td>
                    <td>@Model.DateOfPublication</td>
                </tr>
                <tr>
                    <td>ID</td>
                    <td>@Model.Id</td>
                </tr>
                <tr>
                    <td>Cover</td>
                    <td>@Model.Cover</td>
                </tr>
            </table>
            <a class="btn btn-dark btn-block" role="button" asp-controller="Book" asp-action="Buy" asp-route-id="@Model.Id"> » Buy</a>
        </div>

    </div>

    <div class="row pt-3">
        <div class="col-12">
            <p>@Model.Description</p>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-3">
            <a asp-controller="Order" asp-action="OrderMessage"><em class="fa fa-truck"></em><span> Доставка за 2,90 лв. </span></a>
            <p>Получете поръчката си бързо с най-евтината доставка за цялата страна. </p>
        </div>

        <div class="col-3">
            <a asp-controller="Payment" asp-action="MethodOfPayment"><em class="fa fa-usd"></em><span>» Начин на плащане</span></a>
            <p>Заплащането на направените поръчки може да се извършва по няколко различни начина.</p>
        </div>
        <div class="col-3">
            <a asp-controller="Contact" asp-action="Index"><em class="fa fa-phone"></em><span> Имате въпроси? Обадете ни се</span></a>
        </div>
        <div class="col-3">
            <a asp-controller="Contact" asp-action="Index"><em class="fa fa-refresh"></em><span>» Замяна и връщане</span></a>
        </div>
    </div>

</div>
