@model BookStore.Web.ViewModels.Books.BooksInListModel
@using BookStore.Common
@{
    this.ViewData["Title"] = "Promotional Books";
}

<h1>@this.ViewData["Title"]</h1>

<div id="m-navigation-product-list-wrapper">
    <div class="toolbar-top">
        <div class="toolbar toolbar-products p-2 text-center">

            <div class="toolbar-sorter sorter">
                <label class="sorter-label">Сортирай по</label>
                <select data-role="sorter" class="sorter-options">
                    <option value="received_date" selected="selected">
                        Дата на получаване
                    </option>
                    <option value="price">
                        Цена
                    </option>
                    <option value="name">
                        Име
                    </option>
                </select>
                <a title="Настрой възходяща посока" href="#" class="action sorter-action sort-desc" data-role="direction-switcher" data-value="asc">
                    <span>Настрой възходяща посока</span>
                </a>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row">
            @foreach (var book in @Model.Books)
            {
                <div class="col-lg-4 product-item-info p-2 col-xs-12 col-sm-12">
                    <img src="@book.ImageUrl" width="300" class="mr-3 img-fluid">
                    <div class="bookTitle">
                        <a class="bookTitleLink" asp-action="GetById" asp-route-id="@book.Id">@book.Title</a>
                    </div>
                    <div>
                        @book.Author
                    </div>
                    <div data-price-amount="@book.Price" data-price-type="finalPrice" >
                        @book.Price
                    </div>

                    <a class="btn btn-dark btn-block" role="button" asp-controller="Book" asp-action="Buy" asp-route-id="@book.Id"> » Buy</a>
                    
                </div>
            }
        </div>
    </div>

</div>
<hr />
<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item @if(!Model.HasPreviousPage) {
        <text>disabled</text>}">
            <span class="page-link" asp-action="Promotional" asp-route-id="@Model.PreviousPageNumber">Previous</span>
        </li>
        @for (int i = Model.PageNumber - 3; i < Model.PageNumber; i++)
        {
            if (@i > 0)
            {
                <li class="page-item"><a class="page-link" asp-action="Promotional" asp-route-id="@i">@i</a></li>
            }
        }
        <li class="page-item active">
            <span class="page-link">
                @Model.PageNumber
                <span class="sr-only">(current)</span>
            </span>
        </li>
           @for (int i = Model.PageNumber + 1; i <= @Model.PageNumber + 3; i++)
        {
            if (@i <= Model.PagesCount)
            {
                <li class="page-item"><a class="page-link" asp-action="Promotional" asp-route-id="@i">@i</a></li>
            }
        }

        <li class="page-item @if(!Model.HasNextPage) {
        <text>disabled</text>
} ">
            <a class="page-link" asp-action="Promotional" asp-route-id="@Model.NextPageNumber">Next</a>
        </li>
    </ul>
</nav>